@charset "utf-8";

div > h1{
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.text{
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 10px;
}

.para{
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    line-height: 1.1;
    
}

div > h2{
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

li{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    line-height: 1.1;
}

.important{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-right: 15px;
}

strong{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}



ul > li{
    margin-bottom: 12px;
}