:root {
  --dark-blue: 33, 53, 85;
  --light-blue: 79, 112, 156;
  --gold: 229, 210, 131;
  --cool-white: 240, 240, 240;
}

html {
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
