.container1{
    border: solid;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
}

.container2{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 50px;
}

.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div > h1{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-bottom: 30px;
    padding-top: 30px;

}

div > h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
}

input,textarea{
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    font-size: 17px;
    margin: 8px;
}

label{
    font-size: 22px;
}

.submit{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(var(--gold));
}

.icon1{
    margin: 8px;
    height: 24px;
    width: 24px;
}

.icon{
    display: flex;
}

div > p {
    font-size: 15px;
    margin-left: 5px;
    margin-top: 12px;
}

